:root {
    --web_color: #4D5AE5;
    --studio_color:#2E2F42;
    --list_color: #434455; 
    --team_color: #F4F4FD; 
    --link_color: #2E2F42;
    --white_color: #fff;
    --border_color: #E7E9FC;
    --hover_color: #404bbf;
    --client_color: #8e8f99;
    --green-color:#31D0AA;

}



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Roboto', sans-serif;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.main-nav {
    display: flex;
    align-items: center;
    background-color: var(--white_color);
 }
    
 
 .nav-logo, .footer__header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none; 
    text-transform: uppercase;
 }
 
 .web {
    color: var(--web_color);
 }
 
 .studio {
    color: var(--studio_color);
 }
 .studio-footer {
    color: var(--team_color);
 }
 .list {
    margin: 0;
    padding: 0;
    list-style: none;
 }
 .site-nav {
    display: flex; 
    margin-left: 76px;
 }
 .site-nav .item{
    margin-right: 40px;
 }
 
 .site-nav .item:last-child {
    margin-right: 0;
 }
 .site-nav li {
    text-decoration: none;
 }
 
 .address-nav {
    display: flex;
    margin-left: auto;
 }
 
 .address-nav li {
    text-decoration: none;
 }
 
 .address-nav .item + .item {
    margin-left: 40px;
 }
 
 .site-nav .nav__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    color: var(--studio_color);
    padding-top: 21px;
    padding-bottom: 21px;
}
 
 .nav__link:hover {
    color: var(--web_color);
 }
 
 .address-nav .address__link {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    color: var(--list_color);
    padding-top: 21px;
    padding-bottom: 21px;
 }
 
 .address__link:hover {
    color: var(--web_color);
 }
 
.section__business {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.overlay {
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-left: auto;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(./images/people-office_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.section__header {
    width: 494px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto;
    color: var(--white_color);
    margin-bottom: 48px ;
    text-align: center;
}


.button.primary {
    color: var(--white_color);
    background-color: var(--web_color);
}


.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--hover_color);
}



.section__list-features {
    display: flex;
    list-style: none;
}


.section__link-features {
    margin-right: 24px;
}

.section__link-features:last-child {
    margin-right: 0;
}


.icon-vector{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--team_color);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

.vector {
    fill: var(--link_color);
}


.section__list-work {
    display: flex;
    list-style: none;
}

.section__header-work {
    text-align: center;
}

.section__list-img {
    margin-right: 24px;
}

.section__list-img:last-child {
    margin-right: 0;
}



.section__header-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link_color);
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
    text-transform: capitalize;
}


.person {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 0;
}

.section__list-team {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
}


.section__list-team .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.section__list-team .social-item {
    width: 40px;
    height: 40px;
    background-color: var(--web_color);
    margin-right: 10px;
    border-radius: 50%;
}

.section__list-team .social-item:hover,
.section__list-team .social-item:focus {
    background-color: var(--hover_color);
}


.section__list-team .social-item:last-child {
    margin-right: 0;
}

.section__list-team .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--team_color);
}





.section__link-team {
    background-color: var(--white_color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.section__header-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--link_color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0 );
    clip-path: inset(50%);
    margin: -1px;
}

.section__features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.header-features {
    width: 264px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--link_color);
}


.section__text {
    width: 264px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--list_color);
}

.section__work {
    padding-bottom: 94px;
}

.section__header-work {
    margin: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--link_color);
    text-transform: capitalize;
}

.section__team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--team_color);
}


.text-team {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin: 0;
    margin-top: 8px;
    color: var(--list_color);
}

.section__client-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--studio_color);
    margin: 0;
    margin-top: 130px;
}

.section__list-client {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 72px;
    margin-bottom: 120px;
}



.section__link-client {
    border: 1px solid var(--client_color);
    border-radius: 4px;
    margin-right: 24px;
    padding: 16px 32px;
}

.section__link-client:last-child {
    margin-right: 0;
}

.section__link-client .link-client {
    fill: var(--client_color);
}

.section__link-client:hover {
    color: var(--hover_color);
}


.footer { 
    background-color: var(--studio_color);
    padding-top: 100px;
    padding-bottom: 100px;
 }
 
 .footer-content {
    display: flex;
 }
 
 .footer__text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--border_color);
    margin: 0;
    margin-top: 16px;
 }



.footer-social {
    margin-left: 120px;
    display: flex;
}


 
.social-header {
    font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #FFFFFF;
}


.social-item {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 16px;
}

.social-item:hover {
    background-color: var(--green-color) ;
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--team_color);
}

.social-list {
    display: flex;
}


